<log4net>
  <appender name="FileError" type="log4net.Appender.FileAppender">
    <file value="C:\Gitlab\erp-commercial-rh\src\Web\Log\log-file-error.log" />
    <appendToFile value="true" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="Error" />
      <levelMax value="Error" />
    </filter>

    <layout type="Web.ActionLayoutPattern">
      <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss} [%level] -%m%n" />
    </layout>
  </appender>

  <appender name="FileInfo" type="log4net.Appender.FileAppender">
    <file value="C:\Gitlab\erp-commercial-rh\src\Web\Log\log-file-info.log" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="Info" />
      <levelMax value="Info" />
    </filter>
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value= "%date{yyyy/MM/dd HH:mm:ss} [%level] -%m%n"/>
    </layout>
  </appender>

  <appender name="FileWarn" type="log4net.Appender.FileAppender">
    <file value="C:\Gitlab\erp-commercial-rh\src\Web\Log\log-file-warn.log" />
    <appendToFile value="true" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="Warn" />
      <levelMax value="Warn" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value= "%date{yyyy/MM/dd HH:mm:ss} [%level] -%m%n"/>
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="FileError" />
    <appender-ref ref="FileWarn" />
    <appender-ref ref="FileInfo" />
  </root>
</log4net>